#btn {
  background-color: rgb(255, 192, 247);
  width: 70px;
}

input {
  border-radius: 5px;
  border-width: 2px;
  background-color: aqua;
  width: 200px;
  height: 25px;
}

h1 {
  color: blueviolet;
  text-transform: capitalize;
  text-shadow: 2px 2px red;
}

p {
  font-style: oblique;
  font-family: cursive;
  font-size: 30px;
  color: blueviolet;
  text-transform: uppercase;
}
#form {
  color: blue;
  font-size: 20px;
  font-family: fantasy;
  text-transform: lowercase;
}

button {
  border-radius: 5px;
  border-width: 2px;
  background-color: red;
  color: black;
  width: 70px;
  height: 25px;
}
